/*
Error: Invalid CSS after "			width:": expected expression (e.g. 1px, bold), was "}"
        on line 13 of /Users/liuyushu/www/zeus/cmd/../scss/style.scss

8: 	}
9: 	.logo{
10: 		width: 100px;
11: 		img{
12: 			width: 
13: 		}
14: 	}
15: 	.menu{
16: 		width:calc(100% - 100px - 300px);
17: 
18: 	}

Backtrace:
/Users/liuyushu/www/zeus/cmd/../scss/style.scss:13
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/script/lexer.rb:229:in `expected!'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/script/parser.rb:710:in `assert_expr'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/script/parser.rb:75:in `parse'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1063:in `sass_script'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:909:in `value!'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:778:in `block in try_declaration'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1183:in `call'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:1183:in `rethrow'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:791:in `try_declaration'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:720:in `declaration_or_ruleset'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:658:in `ruleset'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:674:in `block_contents'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/sass_compiler.rb:46:in `watch!'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/commands/watch_project.rb:41:in `perform'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/bin/compass:22:in `load'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/bin/compass:22:in `<main>'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `eval'
/Users/liuyushu/.rvm/gems/ruby-2.1.3/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"			width:\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 13 of /Users/liuyushu/www/zeus/cmd/../scss/style.scss\A \A 8: 	}\A 9: 	.logo{\A 10: 		width: 100px;\A 11: 		img{\A 12: 			width: \A 13: 		}\A 14: 	}\A 15: 	.menu{\A 16: 		width:calc(100% - 100px - 300px);\A 17: \A 18: 	}"; }
