@import "_oa";

#nav{
	display: inline-block;
	width:100%;
	height: 50px;
	background-color: #fff;
	box-shadow: 1px 1px 3px #eee;
	@include clearfix();
	position: fixed;

	+ *{
		margin-top: 55px;
	}
	
	.wrapper{
		width: 100%;
		max-width: 1000px;
		@include clearfix();
		margin: 0 auto;

		> div {
		display: inline-block;
		float: left;
		}

		.logo{
			width: 50px;
			
			img{
				width: 50px;
			}
		}

		.search{
			width:calc(100% - 100px);
			padding: 10px;

			input{
				width: 100%;
			}

		}

		.user{
			width: 50px;
			padding: 5px;
			img{
				width: 40px;
				border-radius: 100%;
				border: 1px solid #eee;

			}
		}
	}
}

#wrapper{
	display: inline-block;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	@include clearfix();
	background-image: url(../img/bg.jpg);


	.main{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;

		p{
			color:#eee;
			text-align: left;
		}
	}

	.pic{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto 30px auto;
		@include clearfix();
		background-color: #fff;
		border: 3px solid #fff;

		.img_box{
			display: inline-block;
			float: left;
			@include clearfix();
			width:(100% / 3);
			height: 300px;
			overflow: hidden;
		}
	}

	.pic2{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto 30px auto;
		@include clearfix();
		background-color: #ff0000;

		.img_box2{
			display: inline-block;
			float: left;
			@include clearfix();
			width:(100%/3 - 60/3);
			height: 300px;
			overflow: hidden;
		}
	}

	.pic3{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto 30px auto;
		@include clearfix();
		background-color: #eee;

		.img_box3{
			display: inline-block;
			float: left;
			@include clearfix();
			width:(100%/4);
			height: 300px;
			margin: 15px 0;
			overflow: hidden;

			&:nth-child(4n+2){
				margin-right: 20px;
			}
		}
	}
}
