#head{
	width:100%;
	display: inline-block;
	height: 55px;
	background-color: #eee;
	> * {
		display: inline-block;;
	}
	.logo{
		width: 100px;
		img{
			width: 
		}
	}
	.menu{
		width:calc(100% - 100px - 300px);

	}
	.search{
		width: 300px;
	}
}
